{% extends '/admin/base.html.twig' %}
{% block title %}{% endblock %}
{% block content %}
	<div class="col-12 col-xl-8 mx-auto my-3">
		<h5 class="text-center titlepage">Liste des administrateurs</h5>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th class="text-center">Nom</th>
						<th class="text-center">Prénom</th>
						<th class="text-center">Level</th>
						<th class="text-center">Activer</th>
						<th class="text-center">Voir</th>
						<th class="text-center">Supprimer</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>1</th>
						<td class="text-center">Laslaa</td>
						<td class="text-center">Mohammed</td>
						<td class="text-center">SuperAdmin</td>
						<td class="text-center">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="customSwitchesTop1">
								<label class="custom-control-label" for="customSwitchesTop1"></label>
							</div>
						</td>
						<td class="text-center">
							<i class="icofont-arrow-right"></td>
						</td>
						<td class="text-center">
							<i class="icofont-ui-delete"></i>
						</td>
					</tr>
					<tr>
						<th>1</th>
						<td class="text-center">Dufour</td>
						<td class="text-center">Olivier</td>
						<td class="text-center">SuperAdmin</td>
						<td class="text-center">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="customSwitchesTop2">
								<label class="custom-control-label" for="customSwitchesTop2"></label>
							</div>
						</td>
						<td class="text-center">
							<i class="icofont-arrow-right"></td>
						</td>
						<td class="text-center">
							<i class="icofont-ui-delete"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
