{% for listmessage in discussion %}
	{% if listmessage.user.id == iduserrequest %}
		<div class="d-flex justify-content-start w-75 p-3">
			<img src="/assets/img/profil.jpg" class="d-sm-none d-md-block imgconv d-sm rounded-circle">
			<p class="mx-2 p-2 rounded bgcolor68c2e8 text-white">{{listmessage.message}}
				<span class="datemessage my-1 d-block text-right">Envoyé le
					{{listmessage.DateRegister|date('d/m/Y H:i:s')}}</span>
			</p>
		</div>
	{% else %}
		<div class="d-flex justify-content-end w-75 p-3">
			<p class="mx-2 p-2 rounded bg-secondary text-white">{{listmessage.message}}
				<span class="datemessage my-1 d-block text-right">Envoyé le
					{{listmessage.DateRegister|date('d/m/Y H:i:s')}}</span>
			</p>
			<img src="/assets/img/profil.jpg" class="d-sm-none d-md-block imgconv rounded-circle">
		</div>
	{% endif %}
{% endfor %}