* {
    font-family: 'Montserrat', sans-serif;
}




.arround {
    min-width: 60px;
    max-width: 60px;
    min-height: 58px;
    max-height: 88px;
}

.bgcolor68c2e8 {
    background-color: #68c2e8;
}

.bgcolor0d1d3d {
    background-color: #0d1d3d;
}

.nav-height {
    height: 40px;
}

.logo {
    min-width: 90px;
    min-height: 90px;
    max-width: 125px;
    max-height: 125px;
}

.hamb1 {
    height: 5px;
    width: 40px;
}

/* user */

.imgprofil {
    width: 120px;
    height: 120px;
}

.imgprofil:hover {
    cursor: pointer;
}

.imgcouv {
    max-width: 200px;
}

.imgcouv:hover {
    cursor: pointer;
}

.fileprofil {
    opacity: 0;
    z-index: 2;
    top: 33%;
}

.editimgprofil {
    opacity: 0;
    z-index: 1;
    top: 33%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.topprofil {
    width: 100% !important;
}

@media screen and (max-width: 769px) {
    .menu {
        display: none;
        position: absolute;
        top: 100px;
        background-color: black;
    }
}

@media screen and (min-width: 1200px) {
    .w75 {
        width: 75% !important;
    }
}