* {
    font-family: 'Montserrat', sans-serif;
}

.arround {
    min-width: 60px;
    max-width: 60px;
    min-height: 58px;
    max-height: 88px;
}

.bgcolor68c2e8 {
    background-color: #68c2e8;
}

.bgcolor0d1d3d {
    background-color: #0d1d3d;
}

.nav-height {
    height: 40px;
}

.logo {
    min-width: 90px;
    min-height: 90px;
    max-width: 125px;
    max-height: 125px;
}

.hamb1 {
    height: 5px;
    width: 40px;
}

@media screen and (max-width: 769px) {
    .menu{
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .w75 {
        width: 75% !important;
    }
}