{% extends '/front/base.html.twig' %}
{% block title %}Liste des amis
{% endblock %}
{% block content %}
<div class="col-12 col-sm-10 col-lg-6">
            <div class="mb-5 mt-5">
                <h1>Mes amis</h1>
            </div>
            <div class="row">
                <div class="row d-flex justify-content-center mx-auto w75">
                    <div class="col-12 col-md-6 rounded border">
                        <div class="row w-100 d-flex justify-content-around align-items-center">
                            <div class="d-flex col-lg-12 col-xl-9 align-items-center">
                                <div class="ml-2 ml-lg-2 my-3">
                                    <img class="arround-search rounded-circle" src="/assets/img/orang.jpg" alt="photo de profil">
                                </div>
                                <div class="col-10 col-lg-10 mb-5">
                                    <a href="#">Jean Dupont</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sep w75 w-100 mx-auto d-sm-none"></div>
                    <div class="col-12 col-md-6 border rounded">
                        <div class="row w-100 d-flex justify-content-around align-items-center">
                            <div class="d-flex col-12 col-xl-9 align-items-center">
                                <div class="ml-2 ml-lg-2 my-3">
                                    <img class="arround-search rounded-circle" src="/assets/img/orang.jpg" alt="photo de profil">
                                </div>
                                <div class="col-10 col-lg-10 mb-5">
                                    <a href="#">Jean Dupont</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sep w75 w-100 mx-auto d-none"></div>
                <div class="sep w75 mx-auto"></div>
                <div class="row d-flex justify-content-center mx-auto w75">
                    <div class="col-12 col-md-6 border rounded">
                        <div class="row w-100 d-flex justify-content-around align-items-center">
                            <div class="d-flex col-12 col-xl-9 align-items-center">
                                <div class="ml-2 ml-lg-2 my-3">
                                    <img class="arround-search rounded-circle" src="/assets/img/orang.jpg" alt="photo de profil">
                                </div>
                                <div class="col-10 col-lg-10 mb-5">
                                    <a href="#">Jean Dupont</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sep w75 w-100 mx-auto d-sm-none"></div>
                    <div class="col-12 col-md-6 border rounded">
                        <div class="row w-100 d-flex justify-content-around align-items-center">
                            <div class="d-flex col-12 col-xl-9 align-items-center">
                                <div class="ml-2 ml-lg-2 my-3">
                                    <img class="arround-search rounded-circle" src="/assets/img/orang.jpg" alt="photo de profil">
                                </div>
                                <div class="col-10 col-lg-10 mb-5">
                                    <a href="#">Jean Dupont</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sep w75 w-100 mx-auto d-none"></div>
                <div class="sep w75 mx-auto"></div>
                <div class="row d-flex justify-content-center mx-auto w75">
                    <div class="col-12 col-md-6 border rounded">
                        <div class="row w-100 d-flex justify-content-around align-items-center">
                            <div class="d-flex col-12 col-xl-9 align-items-center">
                                <div class="ml-2 ml-lg-2 my-3">
                                    <img class="arround-search rounded-circle" src="/assets/img/orang.jpg" alt="photo de profil">
                                </div>
                                <div class="col-10 col-lg-10 mb-5">
                                    <a href="#">Jean Dupont</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sep w75 w-100 mx-auto d-sm-none"></div>
                    <div class="col-12 col-md-6 border rounded">
                        <div class="row w-100 d-flex justify-content-around align-items-center">
                            <div class="d-flex col-12 col-xl-9 align-items-center">
                                <div class="ml-2 ml-lg-2 my-3">
                                    <img class="arround-search rounded-circle" src="/assets/img/orang.jpg" alt="photo de profil">
                                </div>
                                <div class="col-10 col-lg-10 mb-5">
                                    <a href="#">Jean Dupont</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sep w75 w-100 mx-auto d-none"></div>
                <div class="sep w75 mx-auto"></div>
                <div class="row d-flex justify-content-center mx-auto w75">
                    <div class="col-12 col-md-6 border rounded">
                        <div class="row w-100 d-flex justify-content-around align-items-center">
                            <div class="d-flex col-12 col-xl-9 align-items-center">
                                <div class="ml-2 ml-lg-2 my-3">
                                    <img class="arround-search rounded-circle" src="/assets/img/orang.jpg" alt="photo de profil">
                                </div>
                                <div class="col-10 col-lg-10 mb-5">
                                    <a href="#">Jean Dupont</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sep w75 w-100 mx-auto d-sm-none"></div>
                    <div class="col-12 col-md-6 border rounded">
                        <div class="row w-100 d-flex justify-content-around align-items-center">
                            <div class="d-flex col-12 col-xl-9 align-items-center">
                                <div class="ml-2 ml-lg-2 my-3">
                                    <img class="arround-search rounded-circle" src="/assets/img/orang.jpg" alt="photo de profil">
                                </div>
                                <div class="col-10 col-lg-10 mb-5">
                                    <a href="#">Jean Dupont</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block rightside %}
	{% include './front/partial/rightside.html.twig' %}
{% endblock %}
