* {
    font-family: 'Montserrat', sans-serif;
}
/* header */

.menulink {
    font-size: 1.3rem;
}

.listmenu a {
    color: black;
    text-decoration: none;
}

/* body */

.arround{
    width: 50px !important;
    height: 48px !important;
}

.resize{
    resize: none;
}
.opa{
    opacity: 0;
    width: 50px;
}

.w-80{
    width: 80%;
}

.img-size{
    width: 342.59px;
}

.ico-size{
    font-size: 2rem;
}


.btn-color{
    background-color: #68c2e8;
}

.sep{
    height: 10px;
    background-color: #e6ecf0;
}

.div-image{
    padding: 3px;
    padding-left: 28px !important;
}

.div-image2{
    padding: 3px;
}

/* right side */

.imgsugg {
    width: 50px;
    height: 50px;
}

.unread {
    background-color: #68c2e877;
    color: #0d1d3d;
}

.maintitlemobile {
    font-size: 1.5rem;
}

.fonticonmobilebottom {
    font-size: 2.8rem;
    color: #68c2e8;
}

@media screen and (min-width: 1200px) {
    .widthscreen {
        width: 80%;
    }
}