* {
    font-family: 'Montserrat', sans-serif;
}

/* header */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.menulink {
    font-size: 1.3rem;
}

.listmenu a {
    color: black;
    text-decoration: none;
}

/* body */

.arround {
    width: 50px !important;
    height: 48px !important;
}

.resize {
    resize: none;
}

.opa {
    opacity: 0;
    width: 50px;
}

.w-80 {
    width: 80%;
}

.ico-size {
    font-size: 2rem;
}

.rad {
    border-radius: 50px;
}

.bgcolor68c2e8 {
    background-color: #68c2e8;
}

.bgcolor0d1d3d {
    background-color: #0d1d3d;
}

.color0d1d3d {
    color: #0d1d3d;
}

.color68c2e8 {
    color: #68c2e8;
}

.sep {
    height: 10px;
    background-color: #e6ecf0;
}

/* right side */

.imgsugg {
    width: 40px;
    height: 40px;
}

.unread {
    font-size: 1.2rem;
    background-color: rgba(104, 194, 232, 0.25);
    color: #0d1d3d;
}

.maintitlemobile {
    font-size: 1.5rem;
}

.titleconnect {
    font-size: 1.8rem;
}

.fonticonmobilebottom {
    font-size: 2rem;
    color: #68c2e8;
}

.footmobile {
    position: sticky;
    bottom: 0;
}

.menulink {
    font-size: 1.1rem;
}

.heightconnect {
    min-height: 50%;
}

.closesubscribe,
.closeconnect {
    opacity: 0;
}

.closesubscribe:hover,
.closeconnect:hover {
    cursor: pointer;
}

.btnconnection {
    margin-left: -1rem;
}

@media screen and (min-width: 992px) {
    .menulink {
        font-size: 1.3rem;
    }

    .inscriptionform {
        width: 100% !important;
    }

    .heightconnect {
        height: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .widthscreen {
        width: 90%;
    }

    .titleconnect {
        margin-top: 10rem;
    }
}

@media screen and (min-width: 1400px) {
    .widthscreen {
        width: 80%;
    }
}