<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
			<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="/assets/css/style_admin.css">
			<link rel="stylesheet" href="/assets/css/icofont/icofont.css">
		{% endblock %}

		<title>Connexion Admin</title>
	</head>

	<body class="container-fluid p-0 h-100">
		<div class="row h-100 m-0">
			<div class="col-12 col-lg-6 text-center logoside heightconnect d-flex flex-column align-items-center justify-content-center">
				<img src="/assets/img/logo.png" class="img-fluid" alt="">
			</div>
			<div class="col-12 col-lg-6 bgcolor68c2e8 heightconnect d-flex align-items-center d-lg-block">
				<div class="row">
					<div class="col-12 col-sm-8 mt-lg-5 mx-auto text-center">
						<h1 class="titleconnect text-white">Connexion au panel administrateur
						</h1>
					</div>
					<div class="col-12 col-sm-8 mt-lg-5 mx-auto text-center">
						<form method="post" action="" class="formconnect">
							<div class="row form-group d-flex justify-content-center mt-4">
								<div class="col-8 col-xl-4 m-2 p-0">
									<input class="form-control mx-xl-2  text-center" type="text" name="login" placeholder="Identifiant">
								</div>
								<div class="col-8 col-xl-3 m-2 p-0">
									<input class="form-control mx-xl-2 text-center" type="password" name="password" placeholder="Mot de passe">
									<small id="pwdhelp" class="form-text text-center">
										<a class="text-white text-decoration-none" href="">Mot de passe oublié ?</a>
									</small>
								</div>
								<div class="col-8 col-xl-2 my-2 text-center">
									<button type="submit" class="btn btnconnection bgcolor0d1d3d text-white mx-xl-2">Connexion</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html></div>{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/assets/script.js"></script>{% endblock %}</html>
