<footer class="footmobile w-100 d-flex align-items-center d-sm-none border p-3 bg-white">
    <div class="col-3 text-center">
        <a href="index.php" class="w-100 text-decoration-none"><i class="icofont-home fonticonmobilebottom"></i></a>
    </div>
    <div class="col-3 text-center">
        <a href="/friendaction" class="w-100 text-decoration-none"><i class="icofont-search-1 fonticonmobilebottom"></i></a>
    </div>
    <div class="col-3 text-center">
        <a href="notificationpage.php" class="w-100 text-decoration-none"><i class="icofont-alarm fonticonmobilebottom"></i></a>
    </div>
    <div class="col-3 text-center">
        <a href="message" class="w-100 text-decoration-none"><i class="icofont-ui-message fonticonmobilebottom"></i></a>
    </div>
</footer>