<header class="col-sm-2 d-none d-sm-block p-0">
    <div class="w-75 mx-auto text-center">
        <a href="index.php"><img src="assets/img/logo.png" class="img-fluid" alt=""></a>
    </div>
    <ul class="w-75 mt-5 p-0 mx-auto text-center listmenu d-sm-none d-lg-block">
        <a href="index.php">
            <li class="list-unstyled p-2 font-weight-bold menulink">Accueil</li>
        </a>
        <a href="listmessage.php">
            <li class="list-unstyled p-2 font-weight-bold menulink">Message</li>
        </a>
        <a href="#">
            <li class="list-unstyled p-2 font-weight-bold menulink">Publier</li>
        </a>
        <a href="#">
            <li class="list-unstyled p-2 font-weight-bold menulink">Journal</li>
        </a>
        <a href="#">
            <li class="list-unstyled p-2 font-weight-bold menulink">Contact</li>
        </a>

        <a href="notificationpage.php">
            <li class="list-unstyled d-lg-none p-2 font-weight-bold menulink notificationlink">Notification</li>
        </a>
        <a href="suggestionpage.php">
            <li class="list-unstyled d-lg-none p-2 font-weight-bold menulink suggestionlink">Suggestion</li>
        </a>
    </ul>

    <div class="text-center d-none d-sm-block d-lg-none my-3">
        <a href="index.php" class="w-100 text-decoration-none"><i class="icofont-home fonticonmobilebottom"></i></a>
    </div>
    <div class="text-center d-none d-sm-block d-lg-none my-3">
        <a href="suggestionpage.php" class="w-100 text-decoration-none"><i class="icofont-search-1 fonticonmobilebottom"></i></a>
    </div>
    <div class="text-center d-none d-sm-block d-lg-none my-3">
        <a href="notificationpage.php" class="w-100 text-decoration-none"><i class="icofont-alarm fonticonmobilebottom"></i></a>
    </div>
    <div class="text-center d-none d-sm-block d-lg-none my-3">
        <a href="listmessage.php" class="w-100 text-decoration-none"><i class="icofont-ui-message fonticonmobilebottom"></i></a>
    </div>
</header>