<div class="col-4 d-none d-lg-block">

	<form class="form-inline mt-3">
		<input class="form-control w-75" type="search" placeholder="Search">
		<button class="btn my-2 w-25 my-sm-0" type="submit">
			<i class="icofont-search"></i>
		</button>
	</form>

	<div class="w-100 text-center mt-3 border p-2">
		<h5>Notifications</h5>
		<ul class="list-unstyled">
			<li class="p-2 unread rounded my-2">Raphaël Varane vous a demandé en ami<i class="mx-2 icofont-eye"></i>
			</li>
			<li class="p-2 unread rounded my-2">Dimitry Payet vous a demandé en ami<i class="mx-2 icofont-eye"></i>
			</li>
			<li class="p-2 unread rounded my-2">Florian Thauvin vous a demandé en ami<i class="mx-2 icofont-eye"></i>
			</li>
			<li class="p-2 unread rounded my-2">Hugo LLoris vous a demandé en ami<i class="mx-2 icofont-eye"></i>
			</li>
			<li class="p-2 unread rounded my-2">Kylian Mbappé vous a demandé en ami<i class="mx-2 icofont-eye"></i>
			</li>
			<div class="d-none more">
				<li class="p-2 unread rounded my-2">Raphaël Varane vous a demandé en ami<i class="mx-2 icofont-eye"></i>
				</li>
				<li class="p-2 unread rounded my-2">Dimitry Payet vous a demandé en ami<i class="mx-2 icofont-eye"></i>
				</li>
				<li class="p-2 unread rounded my-2">Florian Thauvin vous a demandé en ami<i class="mx-2 icofont-eye"></i>
				</li>
				<li class="p-2 unread rounded my-2">Hugo LLoris vous a demandé en ami<i class="mx-2 icofont-eye"></i>
				</li>
				<li class="p-2 unread rounded my-2">Kylian Mbappé vous a demandé en ami<i class="mx-2 icofont-eye"></i>
				</li>
			</div>
		</ul>
		<button class="btn btn-primary showmore" type="button">Voir plus</button>
	</div>

	<div class="w-100 text-center mt-3 border p-2">
		<h5>Suggestions</h5>
		<ul class="list-unstyled font-weight-bold">
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Hugo Lloris</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Raphaël Varane</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Dimitry Payet</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Florian Thauvin</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Kylian Mbappé</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<div class="d-none more">
				<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Hugo Lloris</span>
					<i class="mx-2 icofont-close"></i>
				</li>
				<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Raphaël Varane</span>
					<i class="mx-2 icofont-close"></i>
				</li>
				<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Dimitry Payet</span>
					<i class="mx-2 icofont-close"></i>
				</li>
				<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Florian Thauvin</span>
					<i class="mx-2 icofont-close"></i>
				</li>
				<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Kylian Mbappé</span>
					<i class="mx-2 icofont-close"></i>
				</li>
			</div>
		</ul>
		<button class="btn btn-primary showmore" type="button">Voir plus</button>
	</div>

</div>
