{% extends '/front/base.html.twig' %}
{% block title %}Fil d'actualités
{% endblock %}
{% block content %}
	<div class="col-12 col-sm-10 col-lg-6 mt-3 maincontent d-sm-block text-center">
		<h5 class="my-2 titlepage d-none d-sm-block">Suggestions</h5>
		<ul class="list-unstyled font-weight-bold">
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Hugo Lloris</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Raphaël Varane</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Dimitry Payet</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Florian Thauvin</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Kylian Mbappé</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Hugo Lloris</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Raphaël Varane</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Dimitry Payet</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Florian Thauvin</span>
				<i class="mx-2 icofont-close"></i>
			</li>
			<li class="p-2 unread rounded my-2"><img class="imgsugg rounded-circle mx-2" src="../img/profil.jpg" alt=""><span class="font-weight-normal">Kylian Mbappé</span>
				<i class="mx-2 icofont-close"></i>
			</li>
		</ul>
	</div>
{% endblock %}
{% block rightside %}
	{% include './front/partial/rightside.html.twig' %}
{% endblock %}
