{% extends '/admin/base.html.twig' %}
{% block title %}
{% endblock %}
{% block content %}
<div class="col-12 col-xl-8 mx-auto my-3">
                <h5 class="text-center titlepage">Publication</h5>
                <div class="w-100 mt-4 zoomcontain position-relative">
                    <div class="d-flex justify-content-center mx-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ex eveniet cupiditate tenetur fugiat? Odio recusandae in ipsa vel hic quisquam cum dignissimos, nostrum quasi voluptatibus repudiandae laboriosam explicabo aspernatur.</p>
                    </div>
                    <div class="zoomer"></div>
                    <div class="mx-auto mt-4 d-flex flex-wrap justify-content-center">
                        <div class="col-8 mx-auto col-md-4 col-lg-4 mt-2">
                            <img class="w-100 zoom p-0 mr-2" src="/assets/img/orang.jpg" alt="">
                        </div>
                        <div class="col-8 mx-auto col-md-4 col-lg-4 mt-2">
                            <img class="w-100 zoom p-0 mr-2" src="/assets/img/orang.jpg" alt="">
                        </div>
                        <div class="col-8 mx-auto col-md-4 col-lg-4 mt-2">
                            <img class="w-100 zoom p-0 mr-2" src="/assets/img/orang.jpg" alt="">
                        </div>
                        <div class="col-8 mx-auto col-md-4 col-lg-4 mt-2 mt-2">
                            <img class="w-100 zoom p-0 mr-2" src="/assets/img/orang.jpg" alt="">
                        </div>
                        <div class="col-8 mx-auto col-md-4 col-lg-4 mt-2 mt-2">
                            <img class="w-100 zoom p-0 mr-2" src="/assets/img/profil.jpg" alt="">
                        </div>
                    </div>
                </div>
                <h5 class="text-center mt-4 mb-4 titlepage">Commentaire</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">ID utilisateur</th>
                                <th class="text-center">Pseudo</th>
                                <th class="text-center">Commentaire</th>
                                <th class="text-center">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">1</td>
                                <td class="text-center">Coucou</td>
                                <td class="text-center"><i class="icofont-eye-alt"></i></td>
                                <td class="text-center">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitchesTop1">
                                        <label class="custom-control-label" for="customSwitchesTop1"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="text-center mt-4 mb-4 titlepage">Réaction</h5>
                <div class="table-responsive col-12 col-md-6 mx-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">ID utilisateur</th>
                                <th class="text-center">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">1</td>
                                <td class="text-center">2</td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}
